<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body bgcolor=" #80bfff">
    <h1>Movie Recommendations for {{ user }}</h1>
    
        <ul>
          
                <li>The creator</li><br>
                <li>Gadar 2</li><br>
                <li>OMG2</a></li><br>
                <li>Bawaal </a></li><br>
                <li>Pathhan</a></li><br>
                <li>The NUN 2</a></li><br>
                <li>Missing</a></li><br>
                <li>100</a></li><br>
           
        </ul>
   
    
    
</body>
</html>
