<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body bgcolor=" #80bfff">
    <h1>Movie Recommendations for {{ user }}</h1>
    
        <ul>
          
                <li><a href="https://www.youtube.com/watch?v=8THqKL_7v0M" target="_blank">The creator</a></li><br>
                <li><a href="https://www.youtube.com/watch?v=7kcjLAqdTy4" target="_blank">Gadar 2</a></li><br>
                <li><a href="https://www.youtube.com/watch?v=Y6ZKXqM7HNQ" target="_blank">OMG2</a></li><br>
                <li><a href="https://www.youtube.com/watch?v=55KHuM6dcLk" target="_blank">Bawaal </a></li><br>
                <li><a href="https://www.youtube.com/watch?v=vqu4z34wENw" target="_blank">Pathhan</a></li><br>
                <li><a href="https://www.youtube.com/watch?v=QF-oyCwaArU" target="_blank">The NUN 2</a></li><br>
                <li><a href="https://www.youtube.com/watch?v=1IM3CeqWA4o" target="_blank">Missing</a></li><br>
                <li><a href="https://www.youtube.com/watch?v=SUIipZ_4q64" target="_blank">100</a></li><br>
           
        </ul>
   
    
    
</body>
</html>
